.room-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .room-box:hover {
    transform: scale(1.05);
  }
  
  .selected {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
  }
  
  .selected-room {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    margin-top: 20px;
  }
  